body {
  font-family: $aside-font-family;
  color: $base-font-color;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

$scale: 0.7;

h1 {
    font-size: 2em * $scale;
}
h2 {
    font-size: 1.5em * $scale;
}
h3 {
    font-size: 1.17em * $scale;
}
h4 {
    font-size: 1em * $scale;
}
h5 {
    font-size: 0.83em * $scale;
}
h6 {
    font-size: 0.75em * $scale;
}